/* ===== MONTSERRAT (Headings) ===== */
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/montserrat/Montserrat-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/montserrat/Montserrat-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/montserrat/Montserrat-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/montserrat/Montserrat-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* ===== INTER (Body / Paragraphs) ===== */
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family : 'Nasa';
  src: url('@/assets/fonts/virgo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ===== QuickSand (Body / Paragraphs) ===== */
@font-face {
  font-family: 'QuickSand';
  src: url('@/assets/fonts/quicksand/QuickSand-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'QuickSand';
  src: url('@/assets/fonts/quicksand/QuickSand-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'QuickSand';
  src: url('@/assets/fonts/quicksand/QuickSand-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family : 'Nasa';
  src: url('@/assets/fonts/virgo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}